<launch>

	<node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
	<rosparam file="$(find ishan_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find ishan_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
	<rosparam file="$(find ishan_nav)/config/local_costmap_params.yaml" command="load"/>
	<rosparam file="$(find ishan_nav)/config/global_costmap_params.yaml" command="load"/>
	
	</node>

</launch>
